.container {
    width: 80%;
    margin: 0 auto;
}
.element {
    margin-bottom: 50px;
    &__div {
        width: 350px;
        height: 220px;
        padding: 15px 10px 20px 10px;
        border: 2px dotted red;
        background: green;
    }
}
.block {
    &__div {
        width: 30%;
        .text {
            text-align: justify;
        }
        .html {
            width: 200px;
            margin: 0 10px 10px 0;
            height: auto;
            float: left;
        }
        .css {
            width: 150px;
            margin: 10px 0 10px 10px;
            height: auto;
            float: right;
        }
    }
}